<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Trabajo uno</title>
    <meta name="descrption" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../statics/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../statics/css/estilo.css">
  </head>
  <body>
    <div class="contenido">
    <header class="Header">
      <figure class="Header-logo">
        <img src="../statics/images/apple-touch-icon-72x72.png" alt="logo" class="Header-imageLogo">
      </figure>
      <nav class="menu">
        <ul class="menu-list">
          <li class="menu-item">HOME</li>
          <li class="menu-item">ABOUT</li>
          <li class="menu-item">SERVICE</li>
          <li class="menu-item">PORTAFOLIO</li>
          <li class="menu-item">CONTACT</li>
        </ul>
      </nav>
      <div class="Header-slide">
        <p class="Header-slideParrafo">SLIDE HEADER.</br>
		  FJRHUFGHREUGHERUGHERUGHERUGHREUGH</br>
		  RUGREUGERUGHERUGHEURGHUREGHURE</br>
		  UIFGERGFREFGERGFIURGFIURGFUREGFIUREG</p>
      </div>
    </header>
    <section class="title">
      <h1 class="title-bienbenido">
        BIENVENIDO A <span class="title-span">CLIX,</span></br>UNA EMPRESA DE NIVEL INTERNACIONAL.
      </h1>
<!--comentario inicia descripcion general donde van loas webfonts -->
    </section>
    <section class="descripcionGeneral">
      <article class ="articulo">
        <p class="articulo-logo icon-casa"></p>
        <h4 class="articulo-titulo">Un desarrollo web de calidad.</h4>
        <p class="articulo-texto">hfuierghureihguirehguihgrhgrthgu<br/>
			hfuierghureihguirehguihgrhgrthgu<br/>
      gvgurgurughruhgrueghurhgurhgurhguhrgush.</p>
      </article>
	  <article class ="articulo">
        <p class="icon-corazon articulo-logo"></p>
        <h4 class="articulo-titulo">Un trabajo hecho con amor.</h4>
        <p class="articulo-texto">hfuierghureihguirehguihgrhgrthgu<br/>
			hfuierghureihguirehguihgrhgrthgu<br/>
      gvgurgurughruhgrueghurhgurhgurhguhrgush.</p>
	 </article>
      <article class ="articulo">
        <p class="icon-nube articulo-logo"></p>
        <h4 class="articulo-titulo">puesta en la nube</h4>
        <p class="articulo-texto">hfuierghureihguirehguihgrhgrthg<br/>
			hfuierghureihguirehguihgrhgrthgu<br/>
      gvgurgurughruhgrueghurhgurhgurhguhrgush.</p>
      </article>
      <article class ="articulo">
        <p class="icon-engrane articulo-logo"></p>
        <h4 class="articulo-titulo">Un trabajo para todo</h4>
        <p class="articulo-texto">hfuierghureihguirehguihgrhgrthg<br/>
			hfuierghureihguirehguihgrhgrthgu<br/>
      gvgurgurughruhgrueghurhgurhgurhguhrgush.</p>
      </article>

    </section>
    <section class="trabajo">
      <h4 class="trabajo-titulo">TRABAJOS.</h4>
      <article class="trabajo-articulo">
        <figure class="trabajo-contenedorImagen">
          <img src="../statics/images/n1.jpg" alt="imagen1" class="trabajo-imagen">
        </figure>
          <p class="trabajo-texto">hfuierghureihguirehguihgrhgrthgughhrtguhfu<br/>
           ugvhuhgruhgurhgurthgurthguhrtu<br/>
           gvgurgurughruhgrueghurhgurhgurhguhrgush.</p>
     </article>

      <article class="trabajo-articulo">
        <figure class="trabajo-contenedorImagen">
          <img src="../statics/images/n2.jpg" alt="imagen2" class="trabajo-imagen">
        </figure>
          <p class="trabajo-texto">hfuierghureihguirehguihgrhgrthgughhrtguhfu<br/>
           ugvhuhgruhgurhgurthgurthguhrtu<br/>
           gvgurgurughruhgrueghurhgurhgurhguhrgush.</p>
     </article>

     <article class="trabajo-articulo">
        <figure class="trabajo-contenedorImagen">
          <img src="../statics/images/n3.jpg" alt="imagen3" class="trabajo-imagen">
        </figure>
          <p class="trabajo-texto">hfuierghureihguirehguihgrhgrthgughhrtguhfu<br/>
           ugvhuhgruhgurhgurthgurthguhrtu<br/>
           gvgurgurughruhgrueghurhgurhgurhguhrgush.</p>
     </article>

     <article class="trabajo-articulo">
        <figure class="trabajo-contenedorImagen">
          <img src="../statics/images/n4.jpg" alt="imagen1" class="trabajo-imagen">
        </figure>
          <p class="trabajo-texto">hfuierghureihguirehguihgrhgrthgughhrtguhfu<br/>
           ugvhuhgruhgurhgurthgurthguhrtu<br/>
           gvgurgurughruhgrueghurhgurhgurhguhrgush.</p>
     </article>

	<article class="trabajo-articulo">
        <figure class="trabajo-contenedorImagen">
          <img src="../statics/images/n5.jpg" alt="imagen1" class="trabajo-imagen">
        </figure>
          <p class="trabajo-texto">hfuierghureihguirehguihgrhgrthgughhrtguhfu<br/>
           ugvhuhgruhgurhgurthgurthguhrtu<br/>
           gvgurgurughruhgrueghurhgurhgurhguhrgush.</p>
     </article>

	<article class="trabajo-articulo">
        <figure class="trabajo-contenedorImagen">
          <img src="../statics/images/n6.jpg" alt="imagen1" class="trabajo-imagen">
        </figure>
          <p class="trabajo-texto">hfuierghureihguirehguihgrhgrthgughhrtguhfu<br/>
           ugvhuhgruhgurhgurthgurthguhrtu<br/>
           gvgurgurughruhgrueghurhgurhgurhguhrgush.</p>
     </article>

	<article class="trabajo-articulo">
        <figure class="trabajo-contenedorImagen">
          <img src="../statics/images/n7.jpg" alt="imagen1" class="trabajo-imagen">
        </figure>
          <p class="trabajo-texto">hfuierghureihguirehguihgrhgrthgughhrtguhfu<br/>
           ugvhuhgruhgurhgurthgurthguhrtu<br/>
           gvgurgurughruhgrueghurhgurhgurhguhrgush.</p>
     </article>

	<article class="trabajo-articulo">
        <figure class="trabajo-contenedorImagen">
          <img src="../statics/images/n8.jpg" alt="imagen1" class="trabajo-imagen">
        </figure>
          <p class="trabajo-texto">hfuierghureihguirehguihgrhgrthgughhrtguhfu<br/>
           ugvhuhgruhgurhgurthgurthguhrtu<br/>
           gvgurgurughruhgrueghurhgurhgurhguhrgush.</p>
     </article>

 <footer class="footer">
   <span class="footer-derechos">todos los derechos reservados.</span>
   <span class="footer-redes">redes sociales......</span>
 </footer>
 </div>
  </body>
<html>
